.DS_Store

Armageddon/Armageddon.xcodeproj/project.xcworkspace/xcuserdata/semenbelakov.xcuserdatad/UserInterfaceState.xcuserstate

Armageddon/Armageddon.xcodeproj/xcuserdata/semenbelakov.xcuserdatad/xcdebugger/